@charset "UTF-8";
.visually-hidden:not(focus):not(active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Montserrat;
  color: #252b42;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 1.71;
  background-color: #fafafa;
}

/* CБРОСЫ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.button-hero {
  padding: 10px 36px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
  border-radius: 37px;
  border: 0;
  outline: 0;
  background: transparent;
}

.button-contacts-hero {
  padding: 10px 20px;
  color: #ffa62b;
  font-weight: 600;
  border: 1px solid #ffa62b;
  border-radius: 5px;
  background: transparent;
}

.title {
  font-size: 40px;
  line-height: 1.42;
  text-align: center;
  margin-bottom: 10px;
}

.paragraph {
  color: #737373;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  margin-bottom: 50px;
}

.button-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-close:hover, .button-close:focus {
  background-color: #00a0c1;
}
.button-close__icon-close {
  width: 20px;
  height: 20px;
  fill: #737373;
}
.button-close:hover .button-close__icon-close {
  fill: #ffa62b;
}

.container {
  width: 100%;
  width: 416px;
  padding: 0 35px;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    padding: 0 25px;
  }
}
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 1080px) {
  .section {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
.header {
  position: absolute;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fafafa;
}
.header .container {
  padding-top: 40px;
  padding-bottom: 100px;
}
.header__menu {
  display: flex;
  margin-bottom: 75px;
}
.header__logo {
  color: inherit;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
}

.menu-list {
  display: flex;
  margin-left: auto;
}
.menu-list__item:not(:last-child) {
  margin-right: 20px;
}
.menu-list__item {
  transition: transform 700ms linear;
}
.menu-list__item:hover, .menu-list__item:focus {
  transform: scale(1.3, 1.3);
}
.menu-list__icon {
  transition: fill 700ms linear;
}
.menu-list__icon:hover, .menu-list__icon:focus {
  fill: #ffa62b;
}
.menu-list__icon {
  width: 24px;
  height: 24px;
  fill: #737373;
}

.nav {
  display: none;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation__item {
  transition: transform 700ms linear;
}
.navigation__item:hover, .navigation__item:focus {
  transform: scale(1.3, 1.3);
}
.navigation__item:not(:last-child) {
  margin-bottom: 20px;
}
.navigation__link {
  color: #737373;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  transition: color 700ms linear;
}
.navigation__link:hover, .navigation__link:focus {
  color: #ffa62b;
}

@media screen and (min-width: 1080px) {
  .header {
    background-color: transparent;
  }
  .header .container {
    padding-bottom: 40px;
  }
  .header__logo {
    margin-right: 117px;
  }
  .header__menu {
    align-items: baseline;
  }

  .navigation {
    display: none;
  }

  .nav {
    display: block;
  }
  .nav__list {
    display: flex;
  }
  .nav__item + .nav__item {
    margin-left: 30px;
  }
  .nav__item {
    transition: transform 700ms linear;
  }
  .nav__item:hover, .nav__item:focus {
    transform: scale(1.3, 1.3);
  }
  .nav__link {
    color: #737373;
    font-weight: 600;
    transition: color 700ms linear;
  }
  .nav__link:hover, .nav__link:focus {
    color: #ffa62b;
  }
}
.hero {
  position: relative;
  max-width: 414px;
  min-height: 2026px;
  background-color: #ffffff;
  background-image: url("../images/hero/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.hero .container {
  padding-top: 600px;
}
.hero__title {
  margin-bottom: 40px;
}
.hero__subscription {
  color: #737373;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 80px;
}
.hero__button-get {
  color: #ffffff;
  background: #ffa62b;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  transition: color, background, transform 700ms linear;
}
.hero__button-get:hover, .hero__button-get:focus {
  color: #ffa62b;
  background: #00a0c1;
  transform: translateY(-5px);
}
.hero__button-more {
  color: #00a0c1;
  border: 1px solid #00a0c1;
  border-color: #00a0c1;
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
  transition: color, background, transform 700ms linear;
}
.hero__button-more:hover, .hero__button-more:focus {
  color: #ffa62b;
  background: #00a0c1;
  transform: translateY(-5px);
}
.hero__item {
  position: relative;
  overflow: hidden;
  padding: 35px 40px;
  background-color: #fafafa;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.25);
}
.hero__item + .hero__item {
  margin-top: 30px;
}
.hero__item-text-more {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: #00a0c1;
  color: #ffffff;
  padding: 30px;
  transition: 700ms linear;
  overflow: auto;
}
.hero__item:hover .hero__item-text-more {
  transform: translateY(0);
}
.hero__icon {
  width: 48px;
  height: 48px;
  fill: #00a0c1;
  margin-bottom: 10px;
}
.hero__list-title {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}
.hero__list-paragraph {
  color: #737373;
  font-weight: 500;
  line-height: 1.43;
}

@media screen and (min-width: 1080px) {
  .hero {
    min-height: 793px;
    max-width: 1440px;
    background-image: url("../images/hero/hero.jpg");
  }
  .hero .container {
    padding-top: 180px;
  }
  .hero__box {
    max-width: 510px;
  }
  .hero__title {
    text-align: left;
    margin-bottom: 35px;
  }
  .hero__subscription {
    margin-bottom: 35px;
  }
  .hero__button-get {
    display: inline;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .hero__button-more {
    display: inline;
    margin-bottom: 0;
  }
  .hero__list {
    display: flex;
    position: absolute;
    bottom: -20px;
  }
  .hero__item {
    width: 328px;
    height: 210px;
    border-radius: 5px;
  }
  .hero__item + .hero__item {
    margin-top: 0;
    margin-left: 30px;
  }
}
.secondary-bacground-section-hero {
  background-color: #00a0c1;
}

.secondary-color-section-hero {
  fill: #ffffff;
  color: #ffffff;
}

.secondary-light-box-color {
  background-color: #ffffff;
  color: #252b42;
}

.benefits {
  background-color: #f3f3f3;
}
.benefits__item {
  text-align: center;
  background-color: #ffffff;
}
.benefits__item + .benefits__item {
  margin-top: 30px;
}
.benefits__icon {
  width: 48px;
  height: 48px;
  fill: #00a0c1;
}
.benefits__number {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  text-align: center;
}
.benefits__award {
  color: #737373;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .benefits {
    background-color: #ffffff;
  }
  .benefits__container {
    padding-top: 210px;
  }
  .benefits__list {
    display: flex;
    justify-content: center;
  }
  .benefits__item + .benefits__item {
    margin-top: 0;
    margin-left: 30px;
  }
}
.advice {
  background-color: #f3f3f3;
}
.advice__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advice__item + .advice__item {
  margin-top: 30px;
}
.advice__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  max-width: 230px;
  height: 340px;
}
.advice__block {
  padding: 30px;
}
.advice__item-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
.advice__item-subscription {
  font-weight: 500;
  line-height: 1.43;
}

@media screen and (min-width: 1080px) {
  .advice {
    background-color: #ffffff;
  }
  .advice__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .advice__item + .advice__item {
    margin-top: 0;
  }
}
.about__description {
  margin-bottom: 100px;
}
.about__img-box {
  margin-bottom: 50px;
}
.about__video {
  display: block;
  margin: 0 auto;
  width: 333px;
  height: 442px;
}
.about__subtitle {
  text-align: left;
}
.about__subdescription {
  text-align: left;
}
.about__item {
  display: flex;
}
.about__item + .about__item {
  margin-top: 30px;
}
.about__icon {
  width: 32px;
  height: 32px;
  fill: #ffa62b;
  margin-right: 20px;
}
.about__item-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 5px;
}
.about__item-description {
  font-weight: 600;
  line-height: 1.71;
  color: #737373;
}

@media screen and (min-width: 1080px) {
  .about__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .about__img-box {
    margin-bottom: unset;
  }
  .about__video {
    display: block;
    margin: 0 auto;
    width: 600px;
  }
  .about__info-box {
    max-width: 333px;
  }
}
.clients__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clients__item {
  margin-bottom: 60px;
}
.clients__icon {
  width: 102px;
  height: 75px;
}
.clients__subscribe {
  background-color: #16697a;
  margin: 0 auto;
  border-radius: 2px;
  padding: 30px 0;
}
.clients__subscription-title {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1080px) {
  .clients__list {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 25px;
  }
  .clients__item {
    margin-bottom: unset;
  }
  .clients__subscribe {
    margin: 0;
    position: relative;
    bottom: -60px;
    max-width: 986px;
    height: 124px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
  }
  .clients__back {
    max-width: 1440px;
    height: 80px;
    background-color: #252b42;
    margin: 0 auto;
  }
}
.contacts {
  background-color: #f3f3f3;
}
.contacts__container {
  padding-bottom: 150px;
}
.contacts__subscription {
  margin-bottom: 80px;
}
.contacts__item + .contacts__item {
  margin-top: 30px;
}
.contacts__item {
  padding: 50px 53px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__item:nth-child(even) {
  background-color: #252b42;
}
.contacts__icon {
  width: 72px;
  height: 72px;
  fill: #00a0c1;
  margin-bottom: 15px;
}
.contacts__link {
  color: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 15px;
}
.contacts__support {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
.contacts .btn-modifier {
  border: 1px solid #ffffff;
}

.element-color {
  fill: #ffffff;
  color: #ffffff;
}

@media screen and (min-width: 1080px) {
  .contacts__list {
    display: flex;
  }
  .contacts__item + .contacts__item {
    margin-top: unset;
  }
}
.footer__top {
  padding: 40px 0;
}
.footer__center {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #16697a;
}
.footer__bottom {
  padding: 25px 0;
}
.footer__bottom-paragraph {
  font-weight: 600;
  color: #737373;
  text-align: left;
}
.footer__title {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}
.footer__subscription {
  text-align-last: left;
  margin-bottom: 50px;
}
.footer__btn {
  text-align: center;
  color: #ffffff;
  background-color: #ffa62b;
  display: block;
  padding: 15px 40px;
}

.info-block {
  padding: 50px 0;
}
.info-block__title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 20px;
}
.info-block__item + .info-block__item {
  margin-top: 10px;
}
.info-block__item:last-child {
  margin-bottom: 30px;
}
.info-block__icon {
  position: relative;
  top: 8px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: #8ec2f2;
}
.info-block__link {
  color: #ffffff;
  font-weight: 600;
}

.social-list {
  display: flex;
}
.social-list__item + .social-list__item {
  margin-left: 20px;
}
.social-list__icon {
  width: 24px;
  height: 24px;
}

.link-modifier {
  position: relative;
  bottom: 8px;
}

@media screen and (min-width: 1080px) {
  .footer__top {
    display: flex;
    justify-content: space-between;
  }
  .footer__bottom {
    display: flex;
  }
  .footer__subscription {
    margin-bottom: unset;
  }

  .info-block {
    display: flex;
    justify-content: space-between;
  }

  .social-list {
    margin-left: auto;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(106, 104, 104, 0.452);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 450px;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 40px;
}/*# sourceMappingURL=main.css.map */