@import './utils/variables';
@import './utils/visually-hidden';

@import './base/reset';
@import './base/common';

@import './components/container';
@import './components/section';
@import './components/title';
@import './components/paragraph';
@import './components/buttons';
@import './components/backdrop';
@import './components/modal';
@import './components/learn-more';

@import './layout/header';
@import './layout/hero';
@import './layout/benefits';
@import './layout/advice';
@import './layout/about';
@import './layout/clients';
@import './layout/contacts';
@import './layout/footer';
