.advice {
  background-color: $secondary-background-section;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item + &__item {
    margin-top: $gap-primary;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary-background-color-hero;
    max-width: 230px;
    height: 340px;
  }
  &__block {
    padding: 30px;
  }

  &__item-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    margin-bottom: 15px;
  }

  &__item-subscription {
    font-weight: 500;
    line-height: 1.43;
  }

  &__item-img {
    // max-width: 100%;
  }
}
@media screen and (min-width: 1080px) {
  .advice {
    background-color: $primary-background-color-hero;

    &__list {
      flex-direction: row;
      justify-content: space-between;
    }
    &__item + &__item {
      margin-top: 0;
    }
  }
}
