.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(106, 104, 104, 0.452);
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
