.footer {
  &__top {
    padding: 40px 56px;
  }

  &__center {
    max-width: 1440px;
    margin: 0 auto;
    background-color: $third-backgroun-section;
  }
  &__bottom {
    padding: 25px 0;
  }

  &__bottom-paragraph {
    font-weight: 600;
    color: $second_font-color;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  &__title {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
  }

  &__subscription {
    text-align-last: left;
    margin-bottom: 50px;
  }
  &__btn {
    text-align: center;
    color: $third-font-color;
    background-color: $background-button;
    border: none;
    display: block;
    padding: 15px 40px;
    transition: color $transition-primary;
    transition: background-color $transition-primary;

    &:hover,
    &:focus {
      color: $color-hover-primary;
      background-color: $color-hover-secondary;
    }
  }
}
.info-block {
  padding: 50px 0px 50px 35px;
  &__title {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: $third-font-color;
    margin-bottom: 20px;
    @media (max-width: 1080px) {
      position: relative;
      cursor: pointer;

      &::after,
      &::before {
        content: '';
        width: 15px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        cursor: pointer;

        transition: all 0.5s ease 0s;
      }

      &::after {
        transform: rotate(-45deg);
        left: -20px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }

      &::before {
        transform: rotate(45deg);
        left: -30px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }

      &.active {
        transition: all 0.5s ease 0s;
        color: #000;
      }

      &.active:before,
      &.active:after {
        background-color: #000;
      }

      &.active:before {
        transform: rotate(-45deg);
      }

      &.active:after {
        transform: rotate(45deg);
      }
    }
  }

  &__list {
    @media screen and (max-width: 1080px) {
      display: none;

      &.active {
        display: block;
      }
    }
  }
  &__item + &__item {
    margin-top: 10px;
  }
  &__item:last-child {
    margin-bottom: $gap-primary;
  }
  &__icon {
    position: relative;
    top: 8px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: $fifth-color-icon;
  }

  &__link {
    color: $third-font-color;
    font-weight: 600;
  }
}
.social-list {
  display: flex;
  &__item + &__item {
    margin-left: 20px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
.link-modifier {
  position: relative;
  bottom: 8px;
}
@media screen and (min-width: 1080px) {
  .footer {
    &__top {
      display: flex;
      justify-content: space-between;
    }
    &__btn {
      display: flex;
      align-items: center;
    }
    &__bottom {
      display: flex;
    }
    &__subscription {
      margin-bottom: unset;
    }
  }

  .info-block {
    display: flex;
    justify-content: space-between;
  }
  .social-list {
    margin-left: auto;
  }
}
