.header {
  position: absolute;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
  background-color: $primary-backgroun-section;
  & .container {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  &__menu {
    display: flex;
    margin-bottom: 75px;
  }

  &__logo {
    color: inherit;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
  }
}
// =========menu===================
.menu-list {
  display: flex;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: $gap-secondary;
  }
  &__item {
    transition: transform $transition-primary;
  }
  &__item:hover,
  &__item:focus {
    transform: $scale-primary;
  }

  &__icon {
    transition: fill $transition-primary;
  }
  &__icon:hover,
  &__icon:focus {
    fill: $color-hover-primary;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $secondary-color-icon;
  }
}
// =============navigation=========
.nav {
  display: none;
}
.navigation {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    transition: transform $transition-primary;
  }
  &__item:hover,
  &__item:focus {
    transform: $scale-primary;
  }
  &__item:not(:last-child) {
    margin-bottom: $gap-secondary;
  }

  &__link {
    color: $second_font-color;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    transition: color $transition-primary;
  }
  &__link:hover,
  &__link:focus {
    color: $color-hover-primary;
  }
}

@media screen and (min-width: 1080px) {
  .header {
    background-color: transparent;
    & .container {
      padding-bottom: 40px;
    }
    &__logo {
      margin-right: 117px;
    }
    &__menu {
      align-items: baseline;
    }
  }
  .navigation {
    display: none;
  }
  .nav {
    display: block;
    &__list {
      display: flex;
    }

    &__item + &__item {
      margin-left: $gap-primary;
    }
    &__item {
      transition: transform $transition-primary;
    }
    &__item:hover,
    &__item:focus {
      transform: scale(1.3, 1.3);
    }
    &__link {
      color: $second_font-color;
      font-weight: 600;
      transition: color $transition-primary;
    }
    &__link:hover,
    &__link:focus {
      color: $color-hover-primary;
    }
  }
}
