.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 450px;
  background-color: $primary-backgroun-section;
  border-radius: 5px;
  padding: 40px;
}
