.benefits {
  &__container {
    padding-top: 210px;
  }

  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    padding: 30px 40px;
    text-align: center;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  &__icon {
    width: 48px;
    height: 48px;
    fill: $primary-color-icon;
  }

  &__number {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    text-align: center;
  }

  &__award {
    color: $second_font-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
}
