.clients {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin-bottom: 60px;
  }

  &__icon {
    width: 102px;
    height: 75px;
  }

  &__subscribe {
    background-color: $third-backgroun-section;
    margin: 0 auto;
    border-radius: 2px;
    padding: 30px 0;
  }

  &__subscription-title {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: $font-color-subscribe;
    text-align: center;
    margin-bottom: $gap-primary;
  }

  &__form {
    display: flex;
    justify-content: center;
  }

  &__input {
    max-width: 220px;
    height: 58px;
    padding: 15px 0 15px 20px;
    background: $primary-backgroun-section;
    border: 1px solid;
    border-radius: 5px 0 0 5px;
    outline: none;

    &::placeholder {
      color: $second_font-color;
    }

    &:valid {
      border-color: greenyellow;
    }

    &:invalid {
      border-color: red;
    }
    &:placeholder-shown {
      border-color: #e6e6e6;
      border-right: none;
    }
  }

  &__button {
    max-width: 117px;
    height: 58px;
    background: $background-button;
    border: 1px solid #e6e6e6;
    border-radius: 0 5px 5px 0;
    border-left: none;
    color: $third-font-color;
    transition: background $transition-primary;
    transition: color $transition-primary;
  }

  &__button:hover,
  &__button:focus {
    background: $color-hover-secondary;
    color: $color-hover-primary;
  }
}
@media screen and (min-width: 1080px) {
  .clients {
    &__list {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 25px;
    }
    &__item {
      margin-bottom: unset;
    }
    &__subscribe {
      margin: 0;
      position: relative;
      bottom: -60px;
      max-width: 986px;
      height: 124px;
      display: flex;
      justify-content: space-between;
      padding: 0 25px;
      align-items: center;
    }

    &__subscription-title {
      margin-bottom: 0;
    }

    &__back {
      max-width: 1440px;
      height: 80px;
      background-color: $clients-background-section;
      margin: 0 auto;
    }

    &__input {
      max-width: 333px;
    }
  }
}
