.footer {
  &__top {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
  }

  &__center {
    max-width: 1440px;
    margin: 0 auto;
    background-color: $third-backgroun-section;
  }
  &__bottom {
    display: flex;
    padding: 25px 0;
  }

  &__bottom-paragraph {
    font-weight: 600;
    color: $second_font-color;
  }

  &__social-list {
  }
  &__title {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
  }

  &__subscription {
    text-align-last: left;
    margin-bottom: 0;
  }
  &__btn {
    color: $third-font-color;
    background-color: $background-button;
    padding: 15px 40px;
  }
}
.info-block {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  &__wrapper {
  }

  &__title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: $third-font-color;
    margin-bottom: 20px;
  }

  &__list {
  }

  &__item {
    margin-bottom: 10px;
  }
  &__icon {
    position: relative;
    top: 8px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: $fifth-color-icon;
  }

  &__link {
    color: $third-font-color;
    font-weight: 600;
  }
}
.social-list {
  display: flex;
  margin-left: auto;
  &__item + &__item {
    margin-left: 20px;
  }

  &__link {
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
.link-modifier {
  position: relative;
  bottom: 8px;
}
