.header {
  position: relative;
  height: 793px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url('../../images/hero/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__menu {
    display: flex;
    align-items: center;
    padding: 40px 0;
    margin-bottom: 80px;
  }

  &__logo {
    color: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    margin-right: 117px;
  }

  &__box {
    max-width: 510px;
    margin-bottom: 80px;
  }
  &__title {
    text-align: left;
  }

  &__subscription {
    color: $second_font-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 35px;
  }

  &__button-get {
    color: $primary-font-color-btn;
    background: $background-button;
  }

  &__button-more {
    color: $secondary-font-color-btn;
    border: 1px solid #00a0c1;
    border-color: $secondary-font-color-btn;
  }

  // ==========bottom-section-hero============
  &__list {
    display: flex;
    position: absolute;
    bottom: -30px;
  }

  &__item {
    width: 328px;
    height: 210px;
    padding: 35px 0 35px 40px;
    background-color: $primary-backgroun-section;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  }
  &__item + &__item {
    margin-left: 30px;
  }
  &__icon {
    width: 48px;
    height: 48px;
    fill: $primary-color-icon;
    margin-bottom: 10px;
  }

  &__list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
  }

  &__list-paragraph {
    color: $second_font-color;
    font-weight: 500;
    line-height: 1.43;
  }
}

// =============navigation=========
.navigation {
  &__list {
    display: flex;
  }

  &__item + &__item {
    margin-left: 20px;
  }

  &__link {
    color: $second_font-color;
    font-weight: 600;
    line-height: 1.71;
  }
}

// =========menu===================
.menu-list {
  display: flex;
  margin-left: auto;

  &__item {
  }
  &__item + &__item {
    margin-left: 30px;
  }

  &__link {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $secondary-color-icon;
  }
}
// =========modifiers=============
.secondary-bacground-section-hero {
  background-color: $secondary-background-color-hero;
}
.secondary-color-section-hero {
  fill: $fortith-color-icon;
  color: $fortith-color-icon;
}
