.hero {
  position: relative;
  max-width: 414px;
  min-height: 2026px;
  background-color: $primary-background-color-hero;
  background-image: url('../images/hero/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;

  & .container {
    padding-top: 600px;
  }
  &__title {
    margin-bottom: 40px;
  }

  &__subscription {
    color: $second_font-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 80px;
  }

  &__button-get {
    color: $primary-font-color-btn;
    background: $background-button;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    transition: background-color $transition-primary,
      transform $transition-primary,
      color $transition-primary;
  }

  &__button-get:hover,
  &__button-get:focus {
    color: $color-hover-primary;
    background-color: $color-hover-secondary;
    transform: $translate-primary;
  }
  &__button-more {
    color: $secondary-font-color-btn;
    border: 1px solid #00a0c1;
    border-color: $secondary-font-color-btn;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
    transition: background-color $transition-primary,
      transform $transition-primary,
      color $transition-primary;
  }

  &__button-more:hover,
  &__button-more:focus {
    color: $color-hover-primary;
    background: $color-hover-secondary;
    transform: $translate-primary;
  }

  // ==========bottom-section-hero============

  &__item {
    position: relative;
    overflow: hidden;
    padding: 35px 40px;
    background-color: $primary-backgroun-section;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.25);
  }

  &__item + &__item {
    margin-top: $gap-primary;
  }
  &__item-text-more {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: $secondary-background-color-hero;
    color: $fortith-color-icon;
    padding: $gap-primary;
    transition: $transition-primary;
    overflow: auto;
  }
  &__item:hover &__item-text-more {
    transform: translateY(0);
  }
  &__icon {
    width: 48px;
    height: 48px;
    fill: $primary-color-icon;
    margin-bottom: 10px;
  }

  &__list-title {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
  }

  &__list-paragraph {
    color: $second_font-color;
    font-weight: 500;
    line-height: 1.43;
  }
}

@media screen and (min-width: 1080px) {
  .hero {
    min-height: 793px;
    max-width: 1440px;
    background-image: url('../images/hero/hero.jpg');

    & .container {
      // position: relative;
      padding-top: 180px;
    }

    &__box {
      max-width: 510px;
      // padding-bottom: 275px;
    }

    &__title {
      text-align: left;
      margin-bottom: 35px;
    }

    &__subscription {
      margin-bottom: 35px;
    }

    &__button-get {
      display: inline;
      margin-right: 10px;
      margin-bottom: 0;
    }

    &__button-more {
      display: inline;
      margin-bottom: 0;
    }

    &__list {
      display: flex;
      position: absolute;
      bottom: -20px;
    }
    &__item {
      width: 328px;
      height: 210px;
      border-radius: 5px;
    }
    &__item + &__item {
      margin-top: 0;
      margin-left: $gap-primary;
    }
  }
}

// =========modifiers=============
.secondary-bacground-section-hero {
  background-color: $secondary-background-color-hero;
}
.secondary-color-section-hero {
  fill: $fortith-color-icon;
  color: $fortith-color-icon;
}
.secondary-light-box-color {
  background-color: $fortith-color-icon;
  color: $main_font-color;
}
