body {
  font-family: $main_font;
  color: $main_font-color;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 1.71;
  background-color: $primary-backgroun-section;
}
/* CБРОСЫ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.button-hero {
  padding: 10px 36px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
  border-radius: 37px;
  border: 0;
  outline: 0;
  background: transparent;
}
.button-contacts-hero {
  padding: 10px 20px;
  color: $color-secondary-button;
  font-weight: 600;
  border: 1px solid $third-color-icon;
  border-radius: 5px;
  background: transparent;
}

.title {
  font-size: 40px;
  line-height: 1.42;
  text-align: center;
  margin-bottom: 10px;
}

.paragraph {
  color: $second_font-color;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  margin-bottom: 50px;
}

// ===== button-close==========

.button-close {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: transparent;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: $color-hover-secondary;
  }

  &__icon-close {
    width: 20px;
    height: 20px;
    fill: $secondary-color-icon;
  }

  &:hover &__icon-close {
    fill: $color-hover-primary;
  }
}
// =================================
