// @import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  font-family: $main_font;
  color: $main_font-color;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 1.71;
  background-color: $primary-backgroun-section;
}
body.lock {
  overflow: hidden;
}
main {
  flex: 1 1 auto;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
