$main_font: Montserrat;
$main_font-color: #252b42;
$second_font-color: #737373;
$background-button: #ffa62b;
$background-secondary-button: #ffa62b;
$primary-font-color-btn: #ffffff;
$secondary-font-color-btn: #00a0c1;
$secondary-background-color-hero: #00a0c1;
$primary-background-color-hero: #ffffff;
$primary-backgroun-section: #fafafa;
$third-backgroun-section: #16697a;
$secondary-backgroun-section: #f3f3f3;
$primary-color-icon: #00a0c1;
$secondary-color-icon: #737373;
$third-color-icon: #ffa62b;
