$main_font: Montserrat;

$main_font-color: #252b42;
$second_font-color: #737373;
$third-font-color: #ffffff;

$background-button: #ffa62b;
$color-secondary-button: #ffa62b;
$primary-font-color-btn: #ffffff;
$secondary-font-color-btn: #00a0c1;
$secondary-background-color-hero: #00a0c1;
$primary-background-color-hero: #ffffff;

$primary-backgroun-section: #fafafa;
$secondary-background-section: #f3f3f3;
$third-backgroun-section: #16697a;
$clients-background-section: #252b42;

$primary-color-icon: #00a0c1;
$secondary-color-icon: #737373;
$third-color-icon: #ffa62b;
$fortith-color-icon: #ffffff;
$fifth-color-icon: #8ec2f2;

$font-color-subscribe: #ffffff;

$font-color-contacts: #ffffff;

//  BreakPoints ==================
$bp-mobile: 320px;
$bp-desktop: 1080px;

//  variables ===================

$gap-primary: 30px;
$gap-secondary: 20px;

//  mixins  ======================
